*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    margin: auto;
    padding:40px;
   
}

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 20px;
    padding: 20px;
    position: sticky;
    top: 40px;
}

.main-content{
    padding: 30px;
    background-color: #2a2a2a;
    border-radius: 20px;
    border: 1px solid #3a3a3a;
}

.profile-info{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.profile-info img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}


.profile-info h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10px;
    color: #e0e0e0;
}

.profile-info p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

/* Contact */

.contact-info{ 
    padding-top: 10px;
    margin-top: 10px;
    border-top: 2px solid #3a3a3a;
}

.label{
    font-size: 15px;
    font-weight: 500;
    
}

.value{
    text-decoration: none;
    color: #e0e0e0;
}

.email,.phone,.location{
    margin-bottom: 10px;
}

.social-info{
    padding-top: 20px;
    margin-top: 15px;
    border-top: 2px solid #3a3a3a;
    text-align: center;
    
}
 
.social-info img{
    height: 24px;
    width: 24px;
    margin: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}

.social-info img:hover{
    /* background-color: rgb(230, 142, 142); */
   filter: grayscale(0) invert(0);
}


.navigation-bar{
    
   
    padding: 10px 20px;
    border-bottom: 1px solid #3a3a3a;
    
}

.navigation-bar nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}

.navigation-bar nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    gap: 10px;
    transition: color 0.3s ease;

}

.navigation-bar nav a:hover{
    color: #ffbf00;
}
 
.navigation-bar .active{
    color: #ffbf00;
}

.about-me{
    
    padding: 10px;
    text-align: justify;
}

.about-me h2{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.about-me .line{
    height: 5px;
    background-color: #ffbf00;
    width: 50px;
    margin-bottom: 10px;
}

.myskills{
    padding: 10px;
}

h2{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.line{
     height: 5px;
    background-color: #ffbf00;
    width: 50px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.grid-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 40px;
    margin-bottom: 20px;
}

.grid-container .item{
   padding: 20px;
   border-radius: 10px;
   border: 2px solid #3a3a3a;

}

.item{
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease, boxshadow 10s ease;
}

 
.item img{
    height: 48px;
    width: 48px;
    
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    
}

.item h3{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}

.pratice-links{
    margin-bottom: 20px;
    padding: 20px;
}

.education{
    padding: 20px;
}

.btech{
    position: relative;
    padding-left: 10px;
}

.edtech{
    padding-left:10px;
    margin-top: 20px;
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.place{
    font-size: 1rem;
    margin-bottom: 5px;

}

.score{
    font-size: 1rem;
    font-weight: bold;
}

.circle{
    position: absolute;
    height: 10px;
    width: 10px;
    border: 3px solid #ffbf00;
    border-radius: 50%;
    margin-left: 20px;
    left: -30px;
    top: 5px;
}

.liner{
    position: absolute;
    height: 100px;
    width: 3px;
    background-color:#3a3a3a;
    top: 15px;
    left: -6.5px;
}



.portfolio{
    padding: 20px;
}



.project-container{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project{
    
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.project:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;

}

.card{
    padding: 20px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color: #a0a0a0;
    margin-bottom: 10px;
    line-height: 1.6;
}

.card span{
    background-color: rgba(255,151,0,0.1);
    color: #ffbf00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}



@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}

/*  
@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
       
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .social-info{
        padding-top: 20px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        border-top: 2px solid #3a3a3a;
        text-align: center;
        
    }
}


@media screen and (max-width:480px) {
    
    .project-container{
        grid-template-columns: 1fr;
        
        width: 100%;
    }

    #navigation nav {
         
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .social-info{
        padding-top: 20px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        border-top: 2px solid #3a3a3a;
        text-align: center;
        
    }
}
 */




@media screen and (max-width: 750px) {
     .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }

     
}

@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    .main-container {
        padding: 10px;
    }

    .sidebar {
        padding: 15px;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .social-info {
        gap: 15px;
        flex-direction: row;
    }

    .project-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .navigation-bar nav {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}
